{% extends "admin/base.html" %}

{% block content %}
<div class="container bg-dark bg-gradient">
<hr>
<div class="row">
<h3 class="text-primary" > Add Abuot Text</h3>
<div class="col-12">
<form action="/admin/aboutext" method='POST' enctype="multipart/form-data">
    <input type="text" class="form-control my-2"name="about_profile_txt"placeholder=" about text">
    <input type="text" class="form-control my-2"name="about_profile_desc"placeholder=" about desc">
    <input type="submit" class="btn btn-primary btn-lg" value="Add About Text">
<hr>
</form>
</div>
<hr>
<div class="col-12">
<h3 class="text-warning">About text</h3>
<table class="table">
    <thead>
        <tr>
            <th class="text-warning" >id</th>
            <th class="text-warning"> text</th>
            <th class="text-warning" >desc</th>
        </tr>
    </thead>
    <hr>
</div>
<div class="col align-self-end">
    <tbody>
        {% for text  in texts %}

        <tr>
            <td  class="text-primary"  scope="row">{{text.id}}</td>
            <td class="text-primary" >{{text.about_profile_txt}}</td>
            <td class="text-primary" >{{text.about_profile_desc}}</td>
       
            <td>
                <a href="/admin/aboutextdelete/{{text.id}}"> <i class="fas fa-trash-alt"></i></a>
                <a href="/admin/aboutextupdate/{{text.id}}"> <i class="fas fa-edit"></i></a>
            </td>
        </tr>

        {% endfor %}
    </tbody>
</table>
    </div>
  </div>
</div>

{% endblock %}
