{% extends "admin/base.html" %}

{% block content %}
<div class="container bg-dark bg-gradient">
<hr>
<div class="row">
<h3 class="text-primary"> Add Abuot Info</h3>
<div class="col-12">
<form action="/admin/aboutinfo" method='POST' enctype="multipart/form-data">
    <input type="text" class="form-control my-2"name="char_start"placeholder=" menu name ">
    <input type="text" class="form-control my-2"name="char_end"placeholder=" desc">
    <input type="submit" class="btn btn-primary btn-lg" value="Add about info">
    <hr>
</form>
</div>
<hr>
<div class="col-12">
<h3 class="text-warning">About info</h3>
<table class="table">
    <thead>
        <tr>
            <th class="text-warning">id</th>
            <th class="text-warning">menu name</th>
            <th class="text-warning">desc</th>
        </tr>
    </thead>
    <hr>
</div>
<div class="col align-self-end">
    <tbody>
        {% for word  in words %}

        <tr>
            <td class="text-primary" scope="row">{{word.id}}</td>
            <td class="text-primary">{{word.char_start}}</td>
            <td class="text-primary">{{word.char_end}}</td>
       
            <td>
                <a href="/admin/aboutinfodelete/{{word.id}}"> <i class="fas fa-trash-alt"></i></a>
                <a href="/admin/aboutinfoupdate/{{word.id}}"> <i class="fas fa-edit"></i></a>
            </td>
        </tr>

        {% endfor %}
    </tbody>
</table>
    </div>
  </div> 
</div>

{% endblock %}