{% extends "admin/base.html" %}

{% block content %}
<div class="container bg-dark bg-gradient">
    <hr>
    <div class="row">
    <h3 class="text-primary">Add Blog</h3>
    <div class="col-12">
    <form action="/admin/blog" method='POST' enctype="multipart/form-data">
    <input type="text" class="form-control my-2"name="blog_icon_name"placeholder="icon name">
    <input type="text" class="form-control my-2"name="blog_icon"placeholder="icon">
    <input type="text" class="form-control my-2"name="blog_link"placeholder="link ">
    <input type="text" class="form-control my-2"name="blog_head"placeholder="Head ">
    <input type="text" class="form-control my-2"name="blog_txt"placeholder="txt">
    <input type="submit" class="btn btn-primary btn-lg" value="Add Blog">
<hr>
</form>
</div>
<hr>
<div class="container-sm">
<h3 class="text-warning">Blog</h3>
<table class="table">
    <thead>
        <tr>
            <th class="text-warning" >id</th>
            <th class="text-warning" >icon name</th>
            <th class="text-warning" >icon</th>
            <th class="text-warning" >link</th>
            <th class="text-warning" >head</th>
            <th class="text-warning" >txt</th>
        </tr>
    </thead>
    <hr>
</div>
    
    <tbody>
        {% for blog  in blogs %}

        <tr>
            <td  class="text-primary" scope="row">{{blog.id}}</td>
            <td class="text-primary">{{blog.blog_icon_name}}</td>
            <td class="text-primary">{{blog.blog_icon}}</td>
            <td class="text-primary">{{blog.blog_link}}</td>
            <td class="text-primary">{{blog.blog_head}}</td>
            <td class="text-primary">{{blog.blog_txt}}</td>
            <td>
                <a href="/admin/blogdelete/{{blog.id}}"> <i class="fas fa-trash-alt"></i></a>
                <a href="/admin/blogupdate/{{blog.id}}"> <i class="fas fa-edit"></i></a>
            </td>
        </tr>

        {% endfor %}
    </tbody>
</table>
 
  </div>
</div>



{% endblock %}