{% extends "admin/base.html" %}

{% block content %}
<div class="container-sm">
<hr>
<h3 class="text-primary"> Update Resume Heading</h3>
<form action="/admin/resumeheadingupdate/{{resu.id}}" method='POST'>
<input type="text" class="form-control my-2" name="resume_heading" placeholder="heading" value="{{resu.resume_heading}}">
<input type="text" class="form-control my-2" name="resume_subheading" placeholder="subhead"value="{{resu.resume_subheading}}">
<input type="submit" class="btn btn-primary  btn-lg" value="Resume head update">
<hr>
</form>
</div>
{% endblock %}